html, body {
    margin:0;
    width:100%;
    height:100%;
}

body {
    font-family:"roboto",sans-serif;
    background-color: #142029;
    color:#ffffff;
    z-index:-3;
}

.data {
    background-color: rgba(0,0,0,.3);
    overflow: auto;
}

h3 {
    display:inline;
    font-size: 2.2vh;
    font-weight:100;
    margin:1vw;
}

.coinCount {
    float:left;
}

.killCount {
    float:right;
}

.grid {
    position: absolute;
    top:0;
    display:grid;
    row-gap: 2px;
    column-gap: 2px;
    width: 100%;
    height:100%;
    z-index:-2;
}

.bulletContainer {
    position:absolute;
    top:0;
    z-index:-1;
    width:100%;
    height:100%;
    overflow: hidden;
}

.bullet {
    position:absolute;
    background-color: #ffffff;
}

.grid > div {
    background-color: #26313b;
}